
.project .box-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap:wrap;
    padding:1rem 0;
    padding-left: 4rem;
}

.project .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #2579c2;
    position: relative;
}

.project .box-container .box span{
    font-size: 1.3rem;
    background:#2579c2;
    color:white;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.project .box-container .box h3{
    font-size: 2.5rem;
    color:black;
    padding-top: 1.5rem;
}

.project .box-container .box p{
    font-size: 2rem;
    color:black;
    padding: 1rem 0;
}

.project .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 3rem;
    color:black;
    background:var(--yellow);
}
.project .box-container .box i img
{
    width: 50px;
}
/* .box-container .box .btnn{
    padding:.10rem 5rem;
    background:white;
    color:black;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border: 1px solid gray;
    border-radius: 5rem;
}

 .btnn i{
    padding:0 .5rem;
    font-size: 0.5rem;
}

.btnn:hover{
    background:var(--yellow);
    color: white;
} */